<?xml version="1.0"?>
<robot name="aloha_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find aloha4franka_description)/urdf/aloha_gripper_base.urdf.xacro" />
  <xacro:include filename="$(find aloha4franka_description)/urdf/aloha_gripper.ros2_control.urdf.xacro" />

  <link name="world"/>

  <xacro:aloha_gripper_base parent="world"/>

  <xacro:aloha_gripper_ros2_control name="aloha_gripper_ros2_control" use_dummy="true"/>
</robot>
